
build-docker-in-runpod
.env
.env.dev
.env.prod
artifacts/
debug/
example/.ipynb_checkpoints/
example/Untitled1.ipynb
dev.py
planb/

# yeaa
cache
# Bazel
/bazel-*
/bazel-bin
/bazel-genfiles
/bazel-out
/bazel-testlogs
/bazel-workspace

# Bazel symlinks
/bazel-*

# Bazel disk cache
.bazel-cache/

# Bazel IntelliJ plugin
.ijwb/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db